@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------->>>><<<<------------------------Entire Body*/

body,
html {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px
}

/*------------------->>>>NAVBAR<<<<------------------------*/

.navbar {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar a {
    color: #ffff00;
}

.navbar .navbar-nav a {
    color: #ffff00;
}

.navbar .navbar-nav a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}


/*------------------->>>>JUMBOTRON<<<<------------------------*/

.jumbotron {
    background-image: url("/assets/images/photos/gym2.jpg");
    background-size: cover;
    color: #fff;
    height: 500px;
    margin-bottom: 0;
    /*answer: https://stackoverflow.com/questions/22000754/responsive-bootstrap-jumbotron-background-image?lq=1*/
}

.jumbotron h1 {
    font-family: "Exo", font-family;
    color: #ffff00;
}

.jumbotron .container-fluid {
    padding-top: 70px;
}

/*------------------->>>>FEATURES<<<<------------------------*/

.features-container{
   background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); 
   /*source: https://webgradients.com/*/
   padding-bottom: 10px;
}

.price {
    color: #ff3300;
    font-size: 22px;
    font-family: "Roboto", font-family;
}

.features {
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: "Roboto", font-family;
}

/*------------------->>>>TESTIMONIALS<<<<------------------------*/

/*section .my-5 h2 {
    margin-bottom: 10px;
}*/

.orange-text .fa-star {
    color: orange;
}

/*------------------->>>>Video Section<<<<------------------------*/

.container-video-section {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    font-family: "Exo", sans-serif;
    color:#fff;
}

.container-video-section .row{
   height: 400px;
}

.container-video-section h1{
    padding-top: 50px;
}

.col-sm-4 iframe{
    border: none;
    width: 80%;
    height: 80%;
    padding-top: 20px;
}

.btn-video .btn-warning {}

/*------------------->>>>Our Mission - Section<<<<------------------------*/

.about-us-container{
    background-image: url("/assets/images/photos/gym5.jpg");
    background-size: cover;
    background-position: center center;
   /* position: relative;
    top: 0;
    bottom 0;
    height: 100vh;*/
    z-index: -10;
    padding: 100px;
}

.dark-background{
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%
    z-index: -5;
}
.about-us-row{
   
}

.about-us-col{
    color: #fff;
}

/*------------------->>>>Footer - Section<<<<------------------------*/

.footer-container{
   background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: #fff;
    border-top: solid 5px #42b9f4;
}





/*social media links code brought from the resume-mini-project------------*/
.social-links{
    padding-bottom: 25px;
    padding-top: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #e84610;
}

#footer-details {
    padding: 20px;
}
/*social media links code brought from the resume-mini-project-------------*/

.footer-col h5,
.footer-col p,
.footer-col ul {
    text-align: left;
    padding-top: 10px
}
